# List Comprehensions Lab

Complete the following set of exercises to solidify your knowledge of list comprehensions.

What libraries should we use?

* `os` is built-in python lib that allows code to interact with operating system: https://docs.python.org/3/library/os.html

In [3]:
import os

import numpy as np
import pandas as pd

### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [4]:
lst=[num for num in range(1,51)]

In [5]:
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

* Nested for loops are great tools to flat a list. However, it impacts on the algorith compexity,  decreasing its efficiency considering the CPU, memory and disk usage. In other words, the processing could take so long while running depending on the amount of data.

http://pages.cs.wisc.edu/~vernon/cs367/notes/3.COMPLEXITY.html

In [6]:
lst1=[num for num in range(1,201) if num%2==0]

In [7]:
print(lst1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 Numpy array below.

In [8]:
a = np.array([[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]])

In [9]:
list_a=[num for lst in a for num in lst]

In [10]:
print(list_a)

[0.84062117000000003, 0.48006451999999999, 0.78763260000000002, 0.77109654000000005, 0.44409792999999997, 0.090145160000000002, 0.81835917000000002, 0.87645455999999999, 0.7066597, 0.096108730000000003, 0.41247947000000001, 0.57433389000000001, 0.29960807, 0.42315023000000002, 0.34452557, 0.47510350000000001, 0.17003562999999999, 0.46843997999999998, 0.92796257999999998, 0.69814653999999998, 0.41290051, 0.19561070999999999, 0.16284783, 0.97016248000000005, 0.71725408000000002, 0.87702738000000002, 0.31244594999999997, 0.76615487000000004, 0.20754036000000001, 0.57871812, 0.072140679999999999, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346000000001, 0.80930099, 0.50962848999999999, 0.94555126, 0.33364762999999997]

### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [11]:
list_b=[num for lst in a for num in lst if num>=0.5]

In [12]:
print(list_b)

[0.84062117000000003, 0.78763260000000002, 0.77109654000000005, 0.81835917000000002, 0.87645455999999999, 0.7066597, 0.57433389000000001, 0.92796257999999998, 0.69814653999999998, 0.97016248000000005, 0.71725408000000002, 0.87702738000000002, 0.76615487000000004, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962848999999999, 0.94555126]

### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 Numpy array below.

In [13]:
b = np.array([[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]])

In [14]:
lst_2=[element for lista in b for element in lista]

In [15]:
print(lst_2)

[array([ 0.55867166,  0.06210792,  0.08147297]), array([ 0.82579068,  0.91512478,  0.06833034]), array([ 0.05440634,  0.65857693,  0.30296619]), array([ 0.06769833,  0.96031863,  0.51293743]), array([ 0.09143215,  0.71893382,  0.45850679]), array([ 0.58256464,  0.59005654,  0.56266457]), array([ 0.71600294,  0.87392666,  0.11434044]), array([ 0.8694668 ,  0.65669313,  0.10708681]), array([ 0.07529684,  0.46470767,  0.47984544]), array([ 0.65368638,  0.14901286,  0.23760688])]

### 5. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [16]:
lst_3=[element[2] for lista in b for element in lista if element [2]<=0.5]

In [17]:
print(lst_3)

[0.081472970000000006, 0.068330340000000003, 0.30296619000000002, 0.45850679, 0.11434044, 0.10708681, 0.47984544000000001, 0.23760687999999999]

### 6. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [18]:
import os

In [19]:
csv_files = [x for x in os.listdir(r'/home/fernanda/bootcamp ironhack/week1/lab_list_comprehensions/data/') if x.endswith('.csv')]

In [20]:
print(csv_files)

['sample_file_7.csv', 'sample_file_2.csv', 'sample_file_6.csv', 'sample_file_5.csv', 'sample_file_4.csv', 'sample_file_0.csv', 'sample_file_8.csv', 'sample_file_9.csv', 'sample_file_3.csv', 'sample_file_1.csv']

### 7. Use a list comprehension and the Pandas `read_csv` and `concat` methods to read all CSV files in the */data* directory and combine them into a single data frame. Display the top 10 rows of the resulting data frame.

In [21]:
#primeiramente, é necessário caminhar até o diretório /data
result=pd.concat([pd.read_csv(r'../data/'+file) for file in csv_files])
result.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.460281,0.308551,0.735894,0.054059,0.593642,0.397679,0.019922,0.855673,0.339445,0.895810,0.832431,0.553308,0.617711,0.841575,0.336094,0.951907,0.050986,0.856135,0.773953,0.295344
1,0.065851,0.736029,0.797730,0.692722,0.167764,0.839756,0.910186,0.643328,0.371559,0.674311,0.424815,0.279397,0.015081,0.788497,0.132391,0.766033,0.708510,0.752866,0.493862,0.577262
2,0.671323,0.747296,0.892328,0.732902,0.065608,0.262364,0.712417,0.764379,0.017461,0.131970,0.649451,0.902157,0.034188,0.840938,0.098536,0.957824,0.566209,0.655947,0.592733,0.002596
3,0.445478,0.523522,0.959355,0.348292,0.761805,0.301391,0.712240,0.945462,0.139241,0.105477,0.889501,0.160828,0.400774,0.770295,0.844655,0.772798,0.584262,0.807400,0.177419,0.926007
4,0.291399,0.551248,0.736542,0.163562,0.451149,0.888938,0.968465,0.396090,0.681679,0.390542,0.030394,0.944077,0.366139,0.078188,0.175482,0.232489,0.806964,0.904593,0.803629,0.792851
0,0.948664,0.215285,0.918270,0.599951,0.755120,0.971609,0.103190,0.194754,0.932388,0.591727,0.697517,0.607355,0.177649,0.435968,0.202404,0.979777,0.095713,0.159040,0.651457,0.803393
1,0.163236,0.803926,0.916655,0.775234,0.644890,0.701362,0.910208,0.871204,0.321745,0.586035,0.887054,0.240060,0.915342,0.205310,0.489504,0.848926,0.304342,0.358977,0.841539,0.964889
2,0.934136,0.031410,0.954057,0.853387,0.642160,0.681184,0.317198,0.875259,0.538416,0.867511,0.813309,0.215624,0.552062,0.498378,0.739656,0.307914,0.233996,0.602166,0.244210,0.313071
3,0.757038,0.918964,0.475459,0.837686,0.149645,0.819032,0.611996,0.644348,0.938444,0.410444,0.561513,0.499231,0.856437,0.054619,0.326310,0.461825,0.954783,0.361873,0.145952,0.873029
4,0.263455,0.816283,0.336707,0.587997,0.285871,0.619942,0.018027,0.548845,0.121471,0.194299,0.149844,0.848866,0.531840,0.663384,0.084884,0.120312,0.463214,0.437889,0.542376,0.668447

### 8. Use a list comprehension to select and print the column numbers for columns from the data set whose median is less than 0.48.

In [22]:
med1=[element for element in result.columns if result[element].median()<0.48]
print(med1)

['2', '9', '12', '14', '17']

### 9. Use a list comprehension to add a new column (20) to the data frame whose values are the values in column 19 minus 0.1. Display the top 10 rows of the resulting data frame.

In [23]:
result['20']=[element-0.1 for element in result[('19')]]

In [24]:
result.head(10)

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.460281,0.308551,0.735894,0.054059,0.593642,0.397679,0.019922,0.855673,0.339445,0.895810,...,0.553308,0.617711,0.841575,0.336094,0.951907,0.050986,0.856135,0.773953,0.295344,0.195344
1,0.065851,0.736029,0.797730,0.692722,0.167764,0.839756,0.910186,0.643328,0.371559,0.674311,...,0.279397,0.015081,0.788497,0.132391,0.766033,0.708510,0.752866,0.493862,0.577262,0.477262
2,0.671323,0.747296,0.892328,0.732902,0.065608,0.262364,0.712417,0.764379,0.017461,0.131970,...,0.902157,0.034188,0.840938,0.098536,0.957824,0.566209,0.655947,0.592733,0.002596,-0.097404
3,0.445478,0.523522,0.959355,0.348292,0.761805,0.301391,0.712240,0.945462,0.139241,0.105477,...,0.160828,0.400774,0.770295,0.844655,0.772798,0.584262,0.807400,0.177419,0.926007,0.826007
4,0.291399,0.551248,0.736542,0.163562,0.451149,0.888938,0.968465,0.396090,0.681679,0.390542,...,0.944077,0.366139,0.078188,0.175482,0.232489,0.806964,0.904593,0.803629,0.792851,0.692851
0,0.948664,0.215285,0.918270,0.599951,0.755120,0.971609,0.103190,0.194754,0.932388,0.591727,...,0.607355,0.177649,0.435968,0.202404,0.979777,0.095713,0.159040,0.651457,0.803393,0.703393
1,0.163236,0.803926,0.916655,0.775234,0.644890,0.701362,0.910208,0.871204,0.321745,0.586035,...,0.240060,0.915342,0.205310,0.489504,0.848926,0.304342,0.358977,0.841539,0.964889,0.864889
2,0.934136,0.031410,0.954057,0.853387,0.642160,0.681184,0.317198,0.875259,0.538416,0.867511,...,0.215624,0.552062,0.498378,0.739656,0.307914,0.233996,0.602166,0.244210,0.313071,0.213071
3,0.757038,0.918964,0.475459,0.837686,0.149645,0.819032,0.611996,0.644348,0.938444,0.410444,...,0.499231,0.856437,0.054619,0.326310,0.461825,0.954783,0.361873,0.145952,0.873029,0.773029
4,0.263455,0.816283,0.336707,0.587997,0.285871,0.619942,0.018027,0.548845,0.121471,0.194299,...,0.848866,0.531840,0.663384,0.084884,0.120312,0.463214,0.437889,0.542376,0.668447,0.568447

### 10. Use a list comprehension to extract and print all values from the data set that are between 0.7 and 0.75.

In [37]:
lst=[element for i in result for element in result [(i)]if element >0.7 and element<0.75] 
#i é o index da coluna
#result(i): verifica a condição em cada coluna

In [38]:
lst

[0.7025657075988269,
 0.7347510852128797,
 0.7132714209987683,
 0.7280006345208285,
 0.736029494090402,
 0.7472962776291713,
 0.7258310816144985,
 0.7358941798147411,
 0.7365416322783028,
 0.7088042362916818,
 0.7343092314001137,
 0.7329024831531535,
 0.7023481768180954,
 0.7476323136755818,
 0.7008930873050235,
 0.7133695725698419,
 0.7013619954419494,
 0.7268545088531969,
 0.7032248108904495,
 0.7150799992177622,
 0.7173964318670598,
 0.7357618655811269,
 0.7124169515124726,
 0.71223975981198,
 0.7383982036983279,
 0.7306642125209889,
 0.7298115760258881,
 0.7051334608870933,
 0.7321333453970806,
 0.7178166705957928,
 0.7374449181749492,
 0.7159290265157912,
 0.7294980584878026,
 0.7215147068185102,
 0.7111584953876777,
 0.7209375615129192,
 0.7045750112959754,
 0.7396561066717461,
 0.7303553716733908,
 0.7133690799930356,
 0.7390312927111312,
 0.7078738356977186,
 0.7321533684342264,
 0.7356923324968598,
 0.7085098152301276,
 0.7130781095091867,
 0.7490680818183477,
 0.7264121114538001,
 0.7196096371031628,
 0.7393833032570581,
 0.7244863338885654,
 0.7033930409580709,
 0.7274869207330491,
 0.7376946446827494]

In [26]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50 entries, 0 to 4
Data columns (total 21 columns):
0     50 non-null float64
1     50 non-null float64
2     50 non-null float64
3     50 non-null float64
4     50 non-null float64
5     50 non-null float64
6     50 non-null float64
7     50 non-null float64
8     50 non-null float64
9     50 non-null float64
10    50 non-null float64
11    50 non-null float64
12    50 non-null float64
13    50 non-null float64
14    50 non-null float64
15    50 non-null float64
16    50 non-null float64
17    50 non-null float64
18    50 non-null float64
19    50 non-null float64
20    50 non-null float64
dtypes: float64(21)
memory usage: 8.6 KB