# Challenge 1 - T-test

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_re`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](https://researchbasics.education.uconn.edu/t-test/) and [this Quora](https://www.quora.com/What-is-the-difference-between-a-paired-and-unpaired-t-test). Make sure you understand when to use which type of t-test.

In [21]:
# Import libraries

import pandas as pd
from scipy import stats
from scipy.stats import ttest_ind

#### Import dataset

In this challenge we will work on the Pokemon dataset you have used last week. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.).

In [3]:
# Import dataset

pokemon = pd.read_csv('Pokemon.csv')

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [30]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}
    
    for feature in features:
        st, p = ttest_ind(s1[feature], s2[feature])
        results.update({feature:p})
       
    
    return results

In [26]:
pokemon.loc[pokemon['Legendary']==True].head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [31]:
t_test_features(pokemon.loc[pokemon['Legendary']==True], pokemon.loc[pokemon['Legendary']==False])

{'HP': 3.330647684846191e-15,
 'Attack': 7.827253003205333e-24,
 'Defense': 1.5842226094427255e-12,
 'Sp. Atk': 6.314915770427266e-41,
 'Sp. Def': 1.8439809580409333e-26,
 'Speed': 2.3540754436897763e-21,
 'Total': 3.0952457469652825e-52}

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# ttest_ind: This is a two-sided test for the null hypothesis that 2 independent samples have identical average (expected) 
# values. 

# H0: Pokemons lendários e não-lendários possuem mesmas features

In [ ]:
# p< alpha: rejeita H0

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [33]:
generation= t_test_features(pokemon.loc[pokemon['Generation']==1], pokemon.loc[pokemon['Generation']==2])

In [34]:
generation

{'HP': 0.13791881412813622,
 'Attack': 0.24050968418101457,
 'Defense': 0.5407630349194362,
 'Sp. Atk': 0.141197881763315,
 'Sp. Def': 0.16781226231606386,
 'Speed': 0.0028356954812578704,
 'Total': 0.559914064901444}

#### What conclusions can you make?

In [ ]:
"""
H0: Pokemons da geração 1 e da geração 2 possuem as mesmas features


 If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. 
 If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. 
 If p-value is above 0.1 we do not reject the null-hypothesis.
"""

In [36]:
for key, value in generation.items():
    if value<0.05:
        print(key,": Reject null hypothesis and the difference is significant.")
    elif value>0.05 and value<1:
        print(key,": Reject null hypothesis, but we are not highly confident.")
    else:
        print(key,": Do not reject the null-hypothesis.")

HP : Reject null hypothesis, but we are not highly confident.
Attack : Reject null hypothesis, but we are not highly confident.
Defense : Reject null hypothesis, but we are not highly confident.
Sp. Atk : Reject null hypothesis, but we are not highly confident.
Sp. Def : Reject null hypothesis, but we are not highly confident.
Speed : Reject null hypothesis and the difference is significant.
Total : Reject null hypothesis, but we are not highly confident.

#### Compare pokemons who have single type vs those having two types.

In [49]:
pokemon.loc[pokemon['Type 2'].isna()].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
24,19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
25,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False

In [48]:
pokemontype = t_test_features(pokemon.loc[pokemon['Type 2'].isna()], pokemon.loc[pokemon['Type 2'].notnull()])

In [50]:
pokemontype

{'HP': 0.11060643144431853,
 'Attack': 0.00015741395666164396,
 'Defense': 3.250594205757004e-08,
 'Sp. Atk': 0.0001454917404035147,
 'Sp. Def': 0.00010893304795534396,
 'Speed': 0.024051410794037463,
 'Total': 1.1749035008828668e-07}

#### What conclusions can you make?

In [ ]:
"""
H0: Pokemons de 1 tipo e de 2 tipos possuem as mesmas features
"""

In [51]:
for key, value in pokemontype.items():
    if value<0.05:
        print(key,": Reject null hypothesis and the difference is significant.")
    elif value>0.05 and value<1:
        print(key,": Reject null hypothesis, but we are not highly confident.")
    else:
        print(key,": Do not reject the null-hypothesis.")

HP : Reject null hypothesis, but we are not highly confident.
Attack : Reject null hypothesis and the difference is significant.
Defense : Reject null hypothesis and the difference is significant.
Sp. Atk : Reject null hypothesis and the difference is significant.
Sp. Def : Reject null hypothesis and the difference is significant.
Speed : Reject null hypothesis and the difference is significant.
Total : Reject null hypothesis and the difference is significant.

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [52]:
pokemon['Attack/Defense']= pokemon['Attack']/pokemon['Defense']

In [54]:
pokemon['AttackSp/DefenseSp']= pokemon['Sp. Atk']/pokemon['Sp. Def']

In [55]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Attack/Defense,AttackSp/DefenseSp
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,1.000000
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,1.000000
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,1.000000
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,1.016667
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,1.200000

In [57]:
from scipy.stats import ttest_rel

In [59]:
st,p= ttest_rel(pokemon['Attack/Defense'],pokemon['AttackSp/DefenseSp'])

In [60]:
p

1.5019573188505383e-07

#### What conclusions can you make?

In [ ]:
"""
H0 = As razões entre ataque e defesa, e entre ataque especial e defesa especial são iguais

p< 0.05: rejeitar a hipótese nula
"""