# Learn the difference between procedural and functional programming style.

<img src="images/god.jpg" width="600">

In [1]:
tempC=[56,35,25,74]
tempF=[132.8,95,77,165.2]


mediaF = sum(tempF)/len(tempF)
varianciaF=0
for value in tempF:
    varianciaF += (value - mediaF)**2
    stdf = (varianciaF/(len(tempF)-1))**(0.5)
print("O desvio padrão para as temperaturas em Farenheit é", stdf)


mediaC = sum(tempC)/len(tempC)
vc=0
for value in tempC:
    vc += (value - mediaC)**2
    stdc = (vc/(len(tempF)-1))**(0.5)
print("O desvio padrão para as temperaturas em Celcius é", stdc)

O desvio padrão para as temperaturas em Farenheit é 39.39492353083072
O desvio padrão para as temperaturas em Celcius é 21.88606862823929

In [2]:
def stdevrutz(temperatura):
    media = sum(temperatura)/len(temperatura)
    variancia=0
    for value in temperatura:
        variancia += (value - media)**2
        stdc = (variancia/(len(temperatura)-1))**(0.5)
    return stdc

In [3]:
print("O desvio padrão para as temperaturas em Farenheit é", stdevrutz(tempF))
print("O desvio padrão para as temperaturas em Celcius é", stdevrutz(tempC))

O desvio padrão para as temperaturas em Farenheit é 39.39492353083072
O desvio padrão para as temperaturas em Celcius é 21.88606862823929

In [4]:
import statistics 
print("O desvio padrão para as temperaturas em Farenheit é", statistics.stdev(tempF))
print("O desvio padrão para as temperaturas em Celcius é", statistics.stdev(tempC))

O desvio padrão para as temperaturas em Farenheit é 39.39492353083072
O desvio padrão para as temperaturas em Celcius é 21.88606862823929

In [5]:
def lenrutz(object):
    count=0
    for i in object:
        count+=1
    return count

In [6]:
lenrutz(tempC)

4

In [7]:
len(tempC)

4

<img src="images/coach.jpeg" width="400">

# Learn about the components of functions and how to write them in Python.

In [8]:
# "def" nome escolhido da função (input de variáveis que a função vai usar):

def list2string(lst):
    string = ' '.join(lst)
    return string

to_string = ['John', 'was', 'a', 'man', 'of', 'many', 'talents']

print(list2string(to_string))

John was a man of many talents

In [9]:
def strnormalize(rawstring):
    normalized = rawstring.replace(",","").replace(".","").lower()
    return normalized

ronai = "O Português é alegre e doce, como um idioma de passarinhos."

print(strnormalize(ronai))

o português é alegre e doce como um idioma de passarinhos

In [24]:
#loop
def amor():
    SP = input("O que precisamos em São Paulo? \n")
    while SP != "Amor":
        return amor()
    print("Não existe amor em SP")
    return ("Chocolate")
a = amor()
print(a)

O que precisamos em São Paulo?
Amor
Não existe amor em SP
Chocolate

In [11]:
#conditional
def plays(gamestatus):
#checks if player is in target room
    if gamestatus.get("current_room") == gamestatus.get("target_room"):
        print("Congratulation you've scapped")
#if player is in target room resets all variables       
        reset()
#if player is not in target room go to function to explore room(has to find index of room in roomslist)
    else:
        
        #explore(gamestatus.get("current_room"),gamestatus)

In [12]:
#regex
#listcomprehensions 
def strregex(rawstring):
    newstr = [re.sub('\w*\s-\s', '', item) for item in rawstring]
    return newstr

import re
lei=["Art. 1º A República Federativa do Brasil, formada pela união indissolúvel dos Estados e Municípios e do Distrito Federal, constitui-se em Estado Democrático de Direito e tem como fundamentos:",

"I - a soberania;",

"II - a cidadania;",

"III - a dignidade da pessoa humana;",

"IV - os valores sociais do trabalho e da livre iniciativa;",

"V - o pluralismo político.",

"Parágrafo único. Todo o poder emana do povo, que o exerce por meio de representantes eleitos ou diretamente, nos termos desta Constituição.",

"Art. 2º São Poderes da União, independentes e harmônicos entre si, o Legislativo, o Executivo e o Judiciário.",

"Art. 3º Constituem objetivos fundamentais da República Federativa do Brasil:",

"I - construir uma sociedade livre, justa e solidária;",

"II - garantir o desenvolvimento nacional;",

"III - erradicar a pobreza e a marginalização e reduzir as desigualdades sociais e regionais;",

"IV - promover o bem de todos, sem preconceitos de origem, raça, sexo, cor, idade e quaisquer outras formas de discriminação.",

"Art. 4º A República Federativa do Brasil rege-se nas suas relações internacionais pelos seguintes princípios:",

"I - independência nacional;",

"II - prevalência dos direitos humanos;",

"III - autodeterminação dos povos;",

"IV - não-intervenção;",

"V - igualdade entre os Estados;",

"VI - defesa da paz;",

"VII - solução pacífica dos conflitos;",

"VIII - repúdio ao terrorismo e ao racismo;",

"IX - cooperação entre os povos para o progresso da humanidade;,",

"X - concessão de asilo político.",

"Parágrafo único. A República Federativa do Brasil buscará a integração econômica, política, social e cultural dos povos da América Latina, visando à formação de uma comunidade latino-americana de nações."]
strregex(lei)

['Art. 1º A República Federativa do Brasil, formada pela união indissolúvel dos Estados e Municípios e do Distrito Federal, constitui-se em Estado Democrático de Direito e tem como fundamentos:',
 'a soberania;',
 'a cidadania;',
 'a dignidade da pessoa humana;',
 'os valores sociais do trabalho e da livre iniciativa;',
 'o pluralismo político.',
 'Parágrafo único. Todo o poder emana do povo, que o exerce por meio de representantes eleitos ou diretamente, nos termos desta Constituição.',
 'Art. 2º São Poderes da União, independentes e harmônicos entre si, o Legislativo, o Executivo e o Judiciário.',
 'Art. 3º Constituem objetivos fundamentais da República Federativa do Brasil:',
 'construir uma sociedade livre, justa e solidária;',
 'garantir o desenvolvimento nacional;',
 'erradicar a pobreza e a marginalização e reduzir as desigualdades sociais e regionais;',
 'promover o bem de todos, sem preconceitos de origem, raça, sexo, cor, idade e quaisquer outras formas de discriminação.',
 'Art. 4º A República Federativa do Brasil rege-se nas suas relações internacionais pelos seguintes princípios:',
 'independência nacional;',
 'prevalência dos direitos humanos;',
 'autodeterminação dos povos;',
 'não-intervenção;',
 'igualdade entre os Estados;',
 'defesa da paz;',
 'solução pacífica dos conflitos;',
 'repúdio ao terrorismo e ao racismo;',
 'cooperação entre os povos para o progresso da humanidade;,',
 'concessão de asilo político.',
 'Parágrafo único. A República Federativa do Brasil buscará a integração econômica, política, social e cultural dos povos da América Latina, visando à formação de uma comunidade latino-americana de nações.']

In [38]:
def make_multiplier_of(n):
    def multiplier(x):
        return x * n
    return multiplier 

multi = make_multiplier_of(3)
print(multi)

multi(20)
#multi(3)
#multi(70)

20
<function make_multiplier_of.<locals>.multiplier at 0x0000022FDAD729D8>
20

60

<img src="images/imaage1.jpg" width="400">

# Learn the difference between global and local variables and how they apply to functions.

In [44]:
#Global vs. Local Variables

#a = 9
#a="bananas"


def multiply(number, multiplier=2):
    b = number * multiplier
    global a
    a = "banablas"
    

    
    return b

c = multiply(a)

#print(a,c)
#print(b)
print(a)

banablas

In [51]:
#list1 = [4324]
dict1={}



def multiply(number, multiplier=2):
    ''' qualquer coisa ai'''
    b = number * multiplier
    #print(list1)
    dict1[0]= "sbrub"
    #list2=[32,45,32]
    #list1.append("teterereteteste")
    #print(dict1)
    #print(list1)
    return b

c = multiply(a)

#print(list2)
print(dict1)
#print(list1)

{0: 'sbrub'}

<img src="images/pandas.jpg" width="400">

# Learn how to apply functions to Pandas data frames.

In [16]:
#Applying Functions to Data Frames

import pandas as pd

data = pd.read_csv('./vehicles.csv')

def get_means(df):
    numeric = df._get_numeric_data()
    means = pd.DataFrame(numeric.mean()).reset_index()
    means.columns = ['Column', 'Mean']
    return means

mean_df = get_means(data)
mean_df

                    Column         Mean
0                     Year  2000.716400
1      Engine Displacement     3.338493
2                Cylinders     5.765076
3        Fuel Barrels/Year    17.609056
4                 City MPG    17.646139
5              Highway MPG    23.880646
6             Combined MPG    19.929322
7  CO2 Emission Grams/Mile   475.316339
8           Fuel Cost/Year  1892.598465

In [17]:
def reasign(x):   
    if type(x)==str:
        for i in columndict.keys():
            if i in x:
                x = columndict[i]
        return x 
    elif type(x)==float or type(x)==int:
        return int(x)

In [54]:
data["Fuel Barrels/Year"]

0        19.388824
1        25.354615
2        20.600625
3        25.354615
4        20.600625
5        14.982273
6        13.733750
7        16.480500
8        14.982273
9        13.733750
10       16.480500
11       14.982273
12       13.733750
13       16.480500
14       16.480500
15       16.480500
16       17.347895
17       16.480500
18       17.347895
19       16.480500
20       17.347895
21       16.480500
22       15.695714
23       16.480500
24       15.695714
25       16.480500
26       16.480500
27       16.480500
28       15.695714
29       15.695714
           ...
35922    29.964545
35923    29.964545
35924    12.677308
35925    13.733750
35926    14.330870
35927    13.184400
35928    12.677308
35929    12.677308
35930    13.184400
35931    13.184400
35932     9.155833
35933     9.155833
35934     9.155833
35935     9.155833
35936     9.155833
35937     9.155833
35938     9.417429
35939     9.694412
35940     9.155833
35941     9.155833
35942     9.155833
35943     9.155833
35944     9.155833
35945     9.155833
35946     9.155833
35947     9.155833
35948     9.155833
35949     9.155833
35950     9.155833
35951     9.417429
Name: Fuel Barrels/Year, Length: 35952, dtype: float64

In [55]:
data["Fuel"] = data["Fuel Barrels/Year"].apply(reasign)
data["Fuel"]

0        19
1        25
2        20
3        25
4        20
5        14
6        13
7        16
8        14
9        13
10       16
11       14
12       13
13       16
14       16
15       16
16       17
17       16
18       17
19       16
20       17
21       16
22       15
23       16
24       15
25       16
26       16
27       16
28       15
29       15
         ..
35922    29
35923    29
35924    12
35925    13
35926    14
35927    13
35928    12
35929    12
35930    13
35931    13
35932     9
35933     9
35934     9
35935     9
35936     9
35937     9
35938     9
35939     9
35940     9
35941     9
35942     9
35943     9
35944     9
35945     9
35946     9
35947     9
35948     9
35949     9
35950     9
35951     9
Name: Fuel, Length: 35952, dtype: int64

In [19]:
data["Vehicle Class"].value_counts()

Compact Cars                          5185
Subcompact Cars                       4374
Midsize Cars                          4063
Standard Pickup Trucks                2311
Sport Utility Vehicle - 4WD           2081
Two Seaters                           1784
Large Cars                            1742
Sport Utility Vehicle - 2WD           1615
Special Purpose Vehicles              1404
Small Station Wagons                  1371
Minicompact Cars                      1212
Standard Pickup Trucks 2WD            1141
Vans                                  1121
Standard Pickup Trucks 4WD             959
Midsize-Large Station Wagons           633
Special Purpose Vehicle 2WD            581
Small Pickup Trucks                    524
Small Sport Utility Vehicle 4WD        494
Vans, Cargo Type                       432
Midsize Station Wagons                 416
Standard Sport Utility Vehicle 4WD     409
Small Pickup Trucks 2WD                401
Small Sport Utility Vehicle 2WD        374
Minivan - 2WD                          331
Vans, Passenger Type                   301
Special Purpose Vehicle 4WD            256
Small Pickup Trucks 4WD                200
Standard Sport Utility Vehicle 2WD     179
Minivan - 4WD                           47
Standard Pickup Trucks/2wd               4
Vans Passenger                           2
Special Purpose Vehicles/2wd             2
Special Purpose Vehicles/4wd             2
Special Purpose Vehicle                  1
Name: Vehicle Class, dtype: int64

In [20]:
columndict = {"Car":"Car",
             "Truck":"Truck",
             "Vehicle":"Other",
             "Wagon":"Other",
             "Van":"Other",
             "van":"Other",
             "Seaters":"Other"}
data["Type"] = data["Vehicle Class"].apply(reasign)
data["Type"].value_counts()

Car      17008
Other    13404
Truck     5540
Name: Type, dtype: int64


* We began the lesson by looking at the differences between procedural code and functional code. 
* We then covered how to construct functions in Python and the differences between global and local variables. 
* We ended the chapter by learning how functions can be applied to a Pandas data frame.

<img src="images/googling.jpg" width="400">