In [29]:
import pandas as pd
import flatlib
import geopy
import pyaztro

In [9]:
from flatlib.datetime import Datetime
from flatlib.geopos import GeoPos
from flatlib.chart import Chart
from geopy.geocoders import Nominatim
from timezonefinder import TimezoneFinder

In [17]:
date_rog = Datetime('1994/10/03', '12:45', '-03:00')

In [18]:
pos_rog = GeoPos('23s41', '46w33')

In [19]:
chart_rog = Chart(date_rog,pos_rog)

In [20]:
for obj in chart_rog.objects:
     print(obj)

<Sun Libra +10:12:10 +00:59:06>
<Moon Virgo +19:33:53 +14:27:22>
<Mercury Scorpio +04:48:15 +00:33:23>
<Venus Scorpio +16:19:25 +00:20:13>
<Mars Cancer +29:25:56 +00:34:04>
<Jupiter Scorpio +15:35:34 +00:11:53>
<Saturn Pisces +06:47:07 -00:03:24>
<North Node Scorpio +16:29:56 -00:03:11>
<South Node Taurus +16:29:56 -00:03:11>
<Syzygy Pisces +26:38:51 +12:26:16>
<Pars Fortuna Capricorn +08:24:07 +00:00:00>

In [25]:
date_molena = Datetime('1995/02/12', '09:30', '-03:00')

In [22]:
pos_molena = GeoPos('23s11', '46w53')

In [26]:
chart_molena = Chart(date_molena,pos_molena)

In [27]:
for obj in chart_molena.objects:
     print(obj)

<Sun Aquarius +23:19:30 +01:00:40>
<Moon Cancer +17:57:35 +12:25:18>
<Mercury Aquarius +06:28:27 -00:28:21>
<Venus Capricorn +08:40:47 +01:08:24>
<Mars Leo +22:44:19 -00:23:57>
<Jupiter Sagittarius +12:00:06 +00:07:58>
<Saturn Pisces +12:23:50 +00:07:06>
<North Node Scorpio +09:30:59 -00:03:11>
<South Node Taurus +09:30:59 -00:03:11>
<Syzygy Aquarius +10:35:00 +14:13:09>
<Pars Fortuna Virgo +06:18:00 +00:00:00>

In [51]:
teste = pd.read_csv("teste.csv")

In [52]:
teste.head()

,name,data,horario,lat,long,bio,url
0,"Bablet, Denis",19 March 1930,01:30,48n52,2e20,<p>French theorist of the theatre. \n</p>,"https://www.astro.com/astro-databank/Bablet,_D..."
1,"Babin Cortes, Maria Teresa",31 May 1910,05:30,18n01,66w37,"<p>Puerto Rican educator, literary critic, and...",https://www.astro.com/astro-databank/Babin_Cor...
2,"Babonneau, René",18 June 1904,09:30,47n13,1w33,"<p>French legionnaire, awarded the title of 'C...",https://www.astro.com/astro-databank/Babonneau...
3,"Babonneau, René",18 June 1904,09:30,47n13,1w33,"<p>French legionnaire, awarded the title of 'C...",https://www.astro.com/astro-databank/Babonneau...
4,"Baboul, Eudoxie",1 October 1901,03:00,5n23,52w57,"<p>French supercentenarian, for a while the ol...","https://www.astro.com/astro-databank/Baboul,_E..."

In [53]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65417 entries, 0 to 65416
Data columns (total 7 columns):
name       65417 non-null object
data       65417 non-null object
horario    65417 non-null object
lat        65417 non-null object
long       65417 non-null object
bio        65417 non-null object
url        65417 non-null object
dtypes: object(7)
memory usage: 3.5+ MB

In [45]:
mask = teste['name'].str.contains('Accident')
teste[mask].head()

,name,data,horario,lat,long,bio,url
319,Accidents: West Fertilizer Company explosion (...,17 April 2013,07:50:38,31n33,97w09,"<p>On April 17, 2013, an ammonium nitrate expl...",https://www.astro.com/astro-databank/Accidents...
320,Accident: wreck Air France flight 447,1 June 2009,05:14,3s5025,32w2439,<p>This plane (Rio-Paris) sank into the Atlant...,https://www.astro.com/astro-databank/Accident:...
322,Accident: great fire of Valparaiso,12 April 2014,16:40,33s02,71w38,"<p>Great wildfire, it began on 12 April 2914 i...",https://www.astro.com/astro-databank/Accident:...
323,Accident: gas explosion Mulhouse,31 August 2014,07:00,47n45,7e20,<p><br>\n</p>,https://www.astro.com/astro-databank/Accident:...
327,Accident: wreck Air France flight 447,1 June 2009,05:14,3s5025,32w2439,<p>This plane (Rio-Paris) sank into the Atlant...,https://www.astro.com/astro-databank/Accident:...

In [47]:
maisa =teste['name']=="Silva, Maisa"
teste[maisa]

,name,data,horario,lat,long,bio,url
13775,"Silva, Maisa",22 May 2002,15:00,23s4138,46w3354,"<p>Brazilian actress, television host, singer,...","https://www.astro.com/astro-databank/Silva,_Maisa"

In [11]:
tf.timezone_at(lng=-46.63, lat=-23.55)

'America/Sao_Paulo'

In [26]:
from pytz import timezone
import pytz
from datetime import datetime

utc = pytz.utc

def offset(target):
    """
    returns a location's time zone offset from UTC in hours.
    """
    today = datetime.now()
    tz_target = timezone(tf.certain_timezone_at(lat=target['lat'], lng=target['lng']))
    # ATTENTION: tz_target could be None! handle error case

    today_target = tz_target.localize(today)
    today_utc = utc.localize(today)
    offset = today_utc - today_target
    #offset = tz_target.utcoffset(today)

    # if `today` is in summer time while the target isn't, you may want to substract the DST
    offset -= tz_target.dst(today)
    return offset.total_seconds() / 3600

bergamo = dict({'lat':-23.55, 'lng':-46.63})
print(offset(bergamo))

-3.0

In [27]:

today = datetime.now()
tz_target = timezone(tf.certain_timezone_at(lat= '52n15', lng='21e0'))
    # ATTENTION: tz_target could be None! handle error case 

today_target = tz_target.localize(today)
today_utc = utc.localize(today)
offset = today_utc - today_target
    #offset = tz_target.utcoffset(today)

    # if `today` is in summer time while the target isn't, you may want to substract the DST
offset -= tz_target.dst(today)
offset.total_seconds() / 3600

TypeError: No matching definition for argument type(s) unicode_type, unicode_type

In [64]:
locator = Nominatim(user_agent='myGeocoder')
location = locator.geocode('São Paulo, SP')

In [65]:
print('Latitude = {}, Longitude = {}'.format(location.latitude, location.longitude))

Latitude = -23.5506507, Longitude = -46.6333824

In [70]:
location.latitude

-23.5506507

In [28]:
date_fernanda = Datetime('1992/08/15', ':30', '-03:00')

In [29]:
pos_fernanda = GeoPos('23s33', '46w38')

In [74]:
pos_fernanda_float = GeoPos(-23.55, -46.63)

In [75]:
pos_fernanda_location = GeoPos(location.latitude, location.longitude)

In [76]:
chart_fernanda_float = Chart(date_fernanda,pos_fernanda_float)

In [77]:
for obj in chart_fernanda_float.objects:
     print(obj)

<Sun Leo +23:04:36 +00:57:39>
<Moon Pisces +17:40:20 +11:56:25>
<Mercury Leo +06:21:35 +00:18:28>
<Venus Virgo +10:21:16 +01:13:46>
<Mars Gemini +13:11:41 +00:38:36>
<Jupiter Virgo +18:04:09 +00:12:18>
<Saturn Aquarius +14:31:15 -00:04:25>
<North Node Sagittarius +27:45:00 -00:03:11>
<South Node Gemini +27:45:00 -00:03:11>
<Syzygy Aquarius +20:54:51 +11:50:50>
<Pars Fortuna Cancer +20:59:12 +00:00:00>

In [78]:
chart_fernanda_location = Chart(date_fernanda,pos_fernanda_location)

In [79]:
for obj in chart_fernanda_location.objects:
     print(obj)

<Sun Leo +23:04:36 +00:57:39>
<Moon Pisces +17:40:20 +11:56:25>
<Mercury Leo +06:21:35 +00:18:28>
<Venus Virgo +10:21:16 +01:13:46>
<Mars Gemini +13:11:41 +00:38:36>
<Jupiter Virgo +18:04:09 +00:12:18>
<Saturn Aquarius +14:31:15 -00:04:25>
<North Node Sagittarius +27:45:00 -00:03:11>
<South Node Gemini +27:45:00 -00:03:11>
<Syzygy Aquarius +20:54:51 +11:50:50>
<Pars Fortuna Cancer +20:59:01 +00:00:00>

In [10]:
import datetime
months = []
for i in range(1,13):
    months.append((datetime.date(2019, i, 1).strftime('%B')))

In [12]:
months

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November',
 'December']