## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

`random` is a Python library that, for this propouse, we just wanna save some time selecting a sample of numbers from a list.

* check it out: https://docs.python.org/3/library/random.html

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer among 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

__First step__: create a list of integer called population using range() and list() functions.

__IMPORTANT__:
the second argument from the function range() is exclusive, which means that if you want to include the number 100, you should consider 101.

In [4]:
sample_list_1=random.sample(range(101),80)
print(sample_list_1)

[83, 1, 9, 25, 41, 21, 14, 0, 61, 40, 32, 6, 37, 46, 84, 26, 95, 5, 24, 18, 15, 34, 54, 11, 64, 91, 73, 89, 69, 85, 100, 96, 86, 74, 8, 63, 68, 43, 38, 47, 50, 44, 92, 4, 79, 59, 13, 81, 36, 60, 30, 53, 87, 99, 67, 10, 20, 2, 66, 31, 72, 3, 94, 35, 76, 48, 22, 58, 23, 7, 56, 51, 12, 27, 88, 49, 16, 77, 93, 71]

__Second step__:
* Now that we have a list with elements from 0 to 100, let's select a random sample from the created list using the function sample() from the library `random`.

random.sample() receives two parameters: population and k, accordingly to the documentation:

`random.sample(population, k)`

- population refers to the total amount of numbers, in this case the sample_list_1, and
- k is the number of elements we want to select

__IMPORTANT__: be aware of the type of data structure we're handling:
random.sample receives any sequence (list, tuple) or set, but not a dictionary, and returns a list.

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [46]:
set1=set(sample_list_1)

In [47]:
print(len(set1))

80

In [7]:
print(len(set1)==len(sample_list_1))

True

- `range()` is versatile function that help us to create a range of numbers.

We're familiar with sequencial unique numbers, but there's more possibilities.
Let's explore range() arguments:

`range(start, stop, step)`

Documentation can always help: https://docs.python.org/3/tutorial/controlflow.html

And some tutorials as well: https://www.pythoncentral.io/pythons-range-function-explained/

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
sample_list_2=[random.randint(0,101) for num in range(80)]

print(sample_list_2)

[66, 95, 45, 54, 55, 46, 95, 92, 27, 18, 32, 47, 82, 30, 46, 73, 62, 59, 94, 18, 16, 22, 14, 37, 82, 56, 73, 7, 53, 32, 87, 5, 38, 16, 95, 23, 33, 86, 44, 31, 80, 75, 84, 15, 101, 22, 35, 88, 56, 30, 57, 87, 50, 34, 44, 4, 4, 56, 14, 85, 56, 20, 18, 36, 36, 58, 23, 56, 79, 75, 16, 18, 91, 66, 24, 37, 20, 29, 80, 80]

In [12]:
len(sample_list_2)

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [14]:
set2=set(sample_list_2)

In [15]:
print(len(set2))

51

### Operating on a Set

We can perform operation on a set using 
* for loops
* operators
* methods

[Source](https://realpython.com/python-sets/)

Let's explore those methods ahead:

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

Tip: elements present in A, but not in B
![title](https://www.geeksforgeeks.org/wp-content/uploads/set-difference.jpg)
[Source](https://www.geeksforgeeks.org/python-set-difference/)

In [16]:
set3=set1-set2
print(set3)

{0, 1, 2, 3, 6, 8, 9, 10, 11, 12, 13, 21, 25, 26, 40, 41, 43, 48, 49, 51, 60, 61, 63, 64, 67, 68, 69, 71, 72, 74, 76, 77, 81, 83, 89, 93, 96, 99, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
set4=set2-set1
print(set4)

{33, 101, 75, 45, 80, 82, 55, 57, 29, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

* The `intesection()` method returns the shared elements fom x1 and x2, as showed below:

![title](https://files.realpython.com/media/t.9c6d33717cdc.png)
[Source](https://realpython.com/python-sets/)

In [18]:
set5=set1.intersection(set2)
print(set5)

{4, 5, 7, 14, 15, 16, 18, 20, 22, 23, 24, 27, 30, 31, 32, 34, 35, 36, 37, 38, 44, 46, 47, 50, 53, 54, 56, 58, 59, 66, 73, 79, 84, 85, 86, 87, 88, 91, 92, 94, 95}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [21]:
print(
    len(set1),
    len(set2),
    len(set3),
    len(set4),
    len(set5)
)

80 51 39 10 41

In [25]:
print(len(set1)==len(set3)+len(set5))

True

In [26]:
print(len(set2)==len(set4)+len(set5))

True

#### Create an empty set called `set6`.

In [19]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

#### Difference between set.add() and set.update()
* `set.add()` adds a single element to a set
* `set.update()` sum up an iterable

In [30]:
set6.update(set3,set5)

print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 34, 35, 36, 37, 38, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 53, 54, 56, 58, 59, 60, 61, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 79, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 99, 100}

#### Check if `set1` and `set6` are equal.

In [31]:
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [36]:
print(set2.issubset(set1))

False

In [37]:
print(set3.issubset(set1))

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [40]:
a=set1.union(set2)
b=set3.union(set4, set5)
print(a==b)

True

#### Using the `pop` method, remove a random element from `set1`.

In [48]:
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 18, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 34, 35, 36, 37, 38, 40, 41, 43, 44, 46, 47, 48, 49, 50, 51, 53, 54, 56, 58, 59, 60, 61, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 79, 81, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 99, 100}

In [49]:
len(set1)

79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [52]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for num in list_to_remove:
    if num in set1:
        set1.remove(num)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 22, 23, 24, 25, 26, 27, 30, 32, 34, 35, 36, 37, 38, 40, 43, 44, 46, 47, 48, 50, 53, 54, 56, 58, 60, 63, 64, 66, 67, 68, 72, 73, 74, 76, 77, 83, 84, 85, 86, 87, 88, 92, 93, 94, 95, 96, 100}

In [53]:
len(set1)

62